@import url('https://fonts.googleapis.com/css2?family=Inter');

:root {
	--primary-font: 'Inter', Helvetica, sans-serif;
	--secondary-color: rgb(233, 250, 255);
}

::-webkit-scrollbar {
	display: none;
}

/* Basic fade animation lol */

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	overflow-y: auto;
	overflow-x: hidden;
	animation-name: fadeIn;
	animation-duration: 4s;
}

main {
	max-width: 1440px;
	flex: 1;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}
/* buttons don't like taking on the font lol */
button, input[type="submit"], input[type="file"] {
	font-family: var(--primary-font);
	border: none;
	border-radius: 3px;
	background-color: var(--secondary-color);
	padding: 20px;
	cursor: pointer;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1.6rem;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: inherit;
}
.nav {
	background-color: var(--secondary-color);
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
}
.dropdown {
	cursor: pointer;
}
.dropdown-content {
	display: none;
}
.dropdown-content-active {
	display: flex;
	flex-direction: column;
	line-height: 2;
}

/* Credits to w3schools for the hamburger code */
.dropdown-block {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

/* Getting the title to the center */
.title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
}
.footer {
	bottom: 0;
	background-color: var(--secondary-color);
	width: 100%;
	text-align: center;
}
