@import url('https://fonts.googleapis.com/css2?family=Inter');

:root {
	--primary-font: 'Inter', Helvetica, sans-serif;
	--secondary-color:rgb(233, 250, 255);
}

body {
	background-color: white;
	margin: 0;
	font-family: var(--primary-font);
}

/* buttons don't like taking on the font lol */

button {
	font-family: var(--primary-font);
	border:none;
	border-radius:3px;
	background-color:var(--secondary-color);
	padding:20px;
	cursor:pointer;
}

h2 {
	font-size:2rem;
}

p {
	font-size:1.6rem;
}
a {
	text-decoration: none;
}
.nav {
	background-color: var(--secondary-color);
	padding: 10px;
	display: flex;
	align-items: center;
	position: relative;
}

.dropdown-content {
	display:block;
}
.dropdown {
	cursor: pointer;
}

/* Credits to w3schools for the hamburger code */
.dropdown div {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

/* Getting the title to the center */
.title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
}
.footer {
	
	position:fixed;
	bottom:0;
	background-color:var(--secondary-color);
	width:100%;
	text-align:center;
}


