@import url('https://fonts.googleapis.com/css2?family=Inter');

:root {
	--primary-font: 'Inter', Helvetica, sans-serif;
}

body {
	background-color: white;
	margin: 0;
	font-family: var(--primary-font);
}

/* buttons don't like taking on the font */

button {
	font-family: var(--primary-font);
}

.nav {
	background-color: rgb(233, 250, 255);
	padding: 10px;
    display:flex;
    align-items:center;
	justify-content: center;
}
.hamburger {
    cursor:pointer;
	float:left;
}

/* Credits to w3schools for the hamburger */
.hamburger div {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
}

.title {
	text-align:center !important;
}
